@media only screen and (min-width: 992px) {
  .navList {
    background-color: #58a4b0;
    display: flex;
    justify-content: center;
    height: 3.5em;
    margin: 0.75em auto 1em auto;
    max-width: 45em;
    border-radius: 3em;
  }
}

@media only screen and (max-width: 992px) {
  .navList {
    height: 1.5em;
    text-decoration: none;
    display: block;
  }

  .mobileList {
    width: 10em;
    position: fixed;
    background-color: #58a4b0;
    margin-left: 1em;
    margin-top: -0.5em;
    border-radius: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #a9bcd0;
  }
}
